code/.ipynb_checkpoints/coverage_notebook-checkpoint.ipynb
code/__pycache__/coverage.cpython-39.pyc
code/__pycache__/metrics.cpython-39.pyc
code/.ipynb_checkpoints/user_constraints_demo-checkpoint.ipynb
code/.ipynb_checkpoints/metrics_demo-checkpoint.ipynb
code/.ipynb_checkpoints/meal_recommender_demo-checkpoint.ipynb
code/__pycache__/meal_recommender.cpython-39.pyc
code/__pycache__/user_constraints.cpython-39.pyc
code/__pycache__/user_constraints.cpython-311.pyc
boosted_bandit/*.jar